body { 
  background: #eee url('http://i.imgur.com/eeQeRmk.png'); 
  font-size: 62.5%;
  line-height: 1;
  color: #585858;
  padding: 22px 10px;
  padding-bottom: 55px;
}

::selection { background: #5f74a0; color: #fff; }
::-moz-selection { background: #5f74a0; color: #fff; }
::-webkit-selection { background: #5f74a0; color: #fff; }


table {border-spacing: 0; }


#base {
  position:relative;
  top:100px;
  width:98%;
  left:1%;
}

/** page structure **/


#keywords {
  margin: 0 auto;
  font-size: 1.2em;
  margin-bottom: 15px;
  overflow:scroll;
}


#keywords thead {
  cursor: pointer;
  background: #c9dff0;
}
#keywords thead tr th { 
  font-weight: bold;
  padding: 5px 7px;
  padding-left:7;
}
#keywords thead tr th span { 
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

#keywords thead tr th.headerSortUp, #keywords thead tr th.headerSortDown {
  background: #acc8dd;
}

#keywords thead tr th.headerSortUp span {
  background-image: url('http://i.imgur.com/SP99ZPJ.png');
}
#keywords thead tr th.headerSortDown span {
  background-image: url('http://i.imgur.com/RkA9MBo.png');
}


#keywords tbody tr { 
  color: #555;
}
#keywords tbody tr td {
  text-align: center;
  padding: 0;
}
#keywords tbody tr td.lalign {
  text-align: center;
}

#keywords tr:hover:not(#firstrow), tr:hover td:empty {
	background: #D5D9C5; 
	pointer-events: visible;
}

#keywords tr:hover:not(#firstrow) { 
	transform: scale(1.0); 
	box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);
}